@font-face {
    font-family: odinSans;
    src: url(https://raw.githubusercontent.com/xc0de113acxx/cc-reloaded/main/fontfiles/Odin%20Rounded%20-%20Regular.otf);
}
.page-title {
    font-family: odinSans;
    text-align: center;
}